.big-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  div:first-child {
    grid-column: 1 / 3;
  }
}

nav {
  display: block;
  padding: 0 10px;
  background: #005991;
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  li a {
    font-size: 18px;
    padding: 10px 0;
  }
}

.search.insidenav {
  display: none;
}
.search.outsidenav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 15px;
  display: grid;
  grid-template-columns: 1fr 40px;
  box-shadow: -5px -5px -5px;
  input {
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }
  button {
    border-radius: 0 5px 5px 0;
  }
  button, input {
    background: #dedede;
    border: 0;
    padding: 6px;
  }
}

.social-links.insidenav {
  display: none;
}

.topbar {
  padding: 20px;
  height: 95px;
}

.menu-btn {
  display: none;
}