@charset "utf-8";

// Place your Sass imports here...
@import 'fontawesome';
@import 'brands';


$blue: #1a71a9;
$white: white;
$grey: #e9e9e9;
$black: black;
$link-hover-selector: '&:hover, &:focus, &:active';
$narrowfont: 'Barlow Semi Condensed', sans-serif;


@import 'reset';

@import 'mobile';

@media screen and (min-width: 600px) {
  @import 'tablet';
}

@media screen and (min-width: 960px) {
  @import 'desktop.scss';
}